body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.start{
    width: fit-content;
    padding: 15px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin: 5px auto;
}
.start input{
    display: block;
    padding: 3px;
    border-radius: 3px;
    width: 300px;
    margin: 5px;
}
.start button{
    padding: 5px;
    border-radius: 3px;
    background-color: darkblue;
    color: white;
    display: block;
    margin: 0 auto;
}

.main .time{
    width: 200px;
   height: 600px;
    float: left;
    background-color: blue;
    color: white;
}
.main .game{
    margin-left: 10%;
    min-height: 300px;
    float: left;
}
.divIn{
    width: 100px;
    height: 100px;
    margin: 2px;
    float: left;
    background-size: cover;
    background-position: center;
    border: 1px solid blue;
}
.back{
    background-image: url('../images/pokeball.png') !important;
}

